@import url('../shared//styles/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
h1 {
    color: #27aedb;
    text-align: center;
}

body {
    background-image: url('../shared//static/img/bgr.png');
    height: 100vh;
}

#root {
    height: inherit;
}
